<ion-header>
  <ion-navbar color="brown">
    <i><ion-title >FastCoffe</ion-title></i>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
   <ion-item>
    <ion-label floating>Please Enter Your Name</ion-label>
    <ion-input type="text" [(ngModel)]="Name"></ion-input>
  </ion-item>

  <h6>TOPPING</h6>

 
   <ion-item  >
    <ion-label>Whipped Cream</ion-label>
    <ion-checkbox [(ngModel)]="checked1" color="brown"  ></ion-checkbox> 
   
  </ion-item> 

  <ion-item>
      <ion-label>Chocolate</ion-label>
      <ion-checkbox   [(ngModel)]="checked2" color="brown" ></ion-checkbox>
      </ion-item>
     
    <h5>QUANTITY</h5>
   
        <button ion-button color="grey" id="btn"  (click)="ADD()"> + </button>
        <label>{{increment}}</label>
        <button ion-button color="grey" id="btn"  (click)="MINUS()"> - </button><br>
    
        <button ion-button color="grey" id="but"  (click)="myButton()">Order</button><br><br>
        

        <button ion-button color="grey" id="mybutt"  (click)="Reset()">Reset</button>
        <br><br>

        <h6>ORDER SUMMARY</h6>
        
       
         <div *ngIf="Summary">
           <p>Name:{{Name}}</p>

           <div class="fontt">
           <p *ngIf="checked1 ==  true">Whipped Cream</p>
           <p *ngIf="checked2 ==  true">Chocolate</p>
          </div>
           <p>Quantity:{{increment}}</p>
           <p>Total :R{{total}},00</p>
      
        </div>

  
            

</ion-content> 
